[build]
  command = "pnpm build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  PNPM_HOME = "/opt/buildhome/.pnpm"
  SECRETS_SCAN_ENABLED = "false"